.login-wrap {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 120px;
  .login-btn {
    margin-top: 30px;
    background-color: $high-color;
    color: $background-color;
    height: 18px;
    border-radius: 10px;
    font-size: 72px;
    line-height: 180px;
  }
  .login-input {
    height: 16px;
    background-color: $background-color;
    font-size: 16px;
    border-bottom: 1px solid $high-color;
    .am-input-clear {
      color: $high-color;
      font-size: inherit;
    }
    .am-input-label {
      color: $high-color;
      font-size: inherit;
      width: 20px;
    }
    input {
      height: 100%;
      width: 100%;
      border: none;
      font-size: 72px;
      color: $high-color;
      @include placeholder-color(lighten($high-color, 20%));
      &:focus {
        border: none;
        outline: none;
      }
    }
  }
}
